/* ------ GENERAL ------ */

body {
    max-width: 1060px;
    margin-left: auto;
    margin-right: auto;
    font-family: tahoma;
}
main {
    max-width: 1060px;
    margin-right: auto;
    margin-left: auto;
    padding: 80px 60px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}
a {
    color:#e20074;
    transition: all 0.2s ease-in-out;
}
a:hover {
    color: black;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}
.t-button {
    background-color: #ededed;
    padding: 6px 12px;
    border-width: 1px;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}
.t-button:hover {
    background-color: #e20074;
    border-color: #e20074;
    color: #fff;
    transition: all 0.2s ease-in-out;
}

/* ----- NAVIGATION ----- */

.navbar {
    padding: 15px 60px;
    border-radius: 0px 0px 30px 30px;
    background-color: #ededed;
    color: white !important;
    box-shadow: 0px 0px 30px 0px #a2a2a2;
}
.navbar-light .navbar-brand {
    color: #e20074 !important;
    font-weight: 600;
}
#navbarNav {
    justify-content: end;
    margin-right: -15px;
}
.navbar-nav li {
    padding-left: 10px;
    padding-right: 10px;
}


/* ----- STARTSEITE ----- */

.welcome {
    text-align: center;
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
}


/* ----- UNTERSEITE ----- */

.information {
    width: 66%;
    padding-bottom: 25px;
}
th, td, tr {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
 }
.modal-button {
    width: 100%;
    padding-top: 25px;
}
.form-item {
    text-align: left;
}
input {
    width: 100%;
    margin-bottom: 10px;
    background-color: #ededed;
    border-radius: 4px;
    padding: 6px;
    border: 0;
}
.form-submit {
    margin-top: 15px;
}


/* ----- ACCOUNTSEITEN ----- */

.sp-heading {
    width: 100%;
    padding-bottom: 25px;
}
.acc input {
    width: 250px;
}
.checkbox {
    width: 100%;
}
.check {
    width: 25px;
}