/* ------ GENERAL ------ */

body {
    margin-left: auto;
    margin-right: auto;
    font-family: TeleNeo Office;
}
main {
    max-width: 1060px;
    margin-right: auto;
    margin-left: auto;
    padding: 80px 60px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    min-height: 75vh;
}
a {
    color:#e20074;
    transition: all 0.2s ease-in-out;
}
a:hover {
    color: black;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}
.t-button {
    background-color: #e20074;
    color: #fff;
    font-weight: 700;
    padding: 8px 14px;
    border: 0;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
}
.t-button:hover {
    background-color: #c00063;
    color: #fff;
    transition: all 0.2s ease-in-out;
}
.t-button:focus {
    outline: none;
    border: 0;
}

/* ----- NAVIGATION ----- */

header {
    background-color:#242426;
    box-shadow: 0px 0px 30px 0px #a2a2a2;
}
.navbar {
    padding: 15px 60px;
    max-width: 1060px;
    margin-left: auto;
    margin-right: auto;
}
.navbar-light .navbar-brand {
    color: #fff !important;
    font-weight: 600;
}
.navbar-light .navbar-nav .active>.nav-link {
    color: #fff;
}
#navbarNav {
    justify-content: end;
    margin-right: -15px;
}
.navbar-nav li {
    padding-left: 10px;
    padding-right: 10px;
}

/* ----- STARTSEITE ----- */

.welcome {
    text-align: center;
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
}

/* ----- UNTERSEITE ----- */

.information {
    width: 66%;
    padding-bottom: 25px;
}
th, td, tr {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
 }
.modal-button {
    width: 100%;
    padding-top: 25px;
}
.form-item {
    text-align: left;
}
input {
    width: 100%;
    margin-bottom: 10px;
    border-width: 1px;
    border-color: #242426;
    border-radius: 8px;
    padding: 6px 8px;
}
input:focus {
    outline: none;
}
.form-submit {
    margin-top: 15px;
}

/* ----- ACCOUNTSEITEN ----- */

.acc {
    margin-top: 6%;
}
.sp-heading {
    width: 100%;
    padding-bottom: 25px;
}
.acc input {
    width: 250px;
}
.checkbox {
    width: 100%;
}
.check {
    width: 25px;
}

/* ----- FOOTER ----- */

.transition-div {
    background-color: #ffffff;
    height: 30px;
    border-radius: 15px;
    margin-bottom: -15px;
    position: relative;
    z-index: 1;
}
footer {
    background-color: #242426;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    color: #ffffff;
    padding-top: 20px;
}
footer a {
    color: #ffffff;
    border-bottom: 1px solid #242426;
    font-weight: 600;
    padding-bottom: 3px;
}
footer a:hover {
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}
.footer-top, .footer-bottom {
    max-width: 1060px;
    padding-left: 60px;
    padding-right: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.footer-top {
    padding-top: 35px;
    padding-bottom: 25px;
}
.footer-bottom {
    padding-bottom: 15px;
}
.footer-bottom, .footer-bottom ul {
    display: flex;
    list-style-type: none;
    justify-content:space-between;
}
.footer-bottom li {
    padding-left: 15px;
}
.footer-logo-a {
    border-bottom: 0px solid #ffffff !important;
}







/* .scale-telekom-footer {
  --font-size: var(--telekom-typography-font-size-caption);
  --font-color: var(--telekom-color-text-and-icon-white-standard);
  --background-footer: var(--telekom-color-ui-black);
  --background-footer-minimal: var(--telekom-color-background-canvas);

  --_nav-items-bottom-margin: var(--telekom-spacing-unit-x6);
  --_nav-items-spacing: var(--telekom-spacing-unit-x3);
}

.scale-telekom-footer :where(ul),
.scale-telekom-footer[type='minimal'] :where(ul) {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
  gap: var(--_nav-items-spacing);
  padding: 0;
  margin: 0;
  width: 100%;
  color: var(--font-color);
  list-style: none;
}

/* this is a workaround to host-context not working in FF and safari */
.scale-telekom-footer[type='minimal'] scale-telekom-footer-content {
  --background-footer: var(--background-footer-minimal);
  --_font-color: var(--telekom-color-text-and-icon-additional);
  --_display-logo: none;
  --_navigation-container-padding: var(--telekom-spacing-unit-x4) 0
    var(--telekom-spacing-unit-x4) 0;
  --_nav-items-bottom-margin: 0;
}

.scale-telekom-footer :where(a, span),
.scale-telekom-footer[type='minimal'] :where(a, span) {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size);
  color: var(--font-color);
  line-height: 140%;
  text-decoration: none;
  /* TODO: is the underline still needed? */
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 2px;
}

.scale-telekom-footer[type='minimal'] :where(a, span) {
  color: var(--telekom-color-text-and-icon-standard);
}

.scale-telekom-footer[type='minimal'] :where(ul) {
  margin-bottom: 0;
}

.scale-telekom-footer[type='minimal'] a:hover {
  color: var(--telekom-color-text-and-icon-primary-hovered);
}
.scale-telekom-footer[type='minimal'] a:active {
  color: var(--telekom-color-text-and-icon-primary-pressed);
}

.scale-telekom-footer :where(a:hover) {
  border-radius: 0;
  border-bottom: 1px solid var(--font-color);
}

.scale-telekom-footer :where(a:active) {
  color: var(--telekom-color-text-and-icon-white-additional);
  /* TODO: is the underline still needed? */
  border-bottom: 1px solid var(--telekom-color-text-and-icon-white-additional);
}

.scale-telekom-footer :where(a:focus-visible) {
  outline: var(--telekom-line-weight-highlight) solid
    var(--telekom-color-functional-focus);
  outline-offset: 1px;
}

@media screen and (--md) {
  .scale-telekom-footer :where(ul),
  .scale-telekom-footer[type='minimal'] :where(ul) {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: var(--telekom-spacing-unit-x2);
  }
}

@media screen and (--lg) {
  .scale-telekom-footer :where(ul),
  .scale-telekom-footer[type='minimal'] :where(ul) {
    gap: var(--_nav-items-spacing);
  }
  .scale-telekom-footer[type='minimal'] .navigation-links ul,
  .scale-telekom-footer[type='minimal'] .notice-container {
    margin-bottom: 0;
    margin-top: 0;
  }
} */