{% extends "base.html" %}
{% block content %}
    <main>
      <div class="information">
      <h2>Bestellungen</h2>
      <p>Auflistung aller T-Learn Bestellungen von Schülern. Jede Bestellung ist über die Schüler-ID einem Schüler zugewiesen. Beim Kurs ist es genauso.<br><br>Status 1 = Im Warenkorb<br>Status 2 = Kurs reserviert<br>Status 3 = Abgeschlossen</p>
      </div>
      <div>
        <table>
          <tr>
            <th>Bestellung</th>
            <th>Schüler</th>
            <th>Kurs</th>
            <th>Status</th>
            <th>Datum</th>
          </tr>
          {% for b,sc,k,s,d in bestellung %}
          <tr>
            <td>{{b}}</td>
            <td>{{sc}}</td>
            <td>{{k}}</td>
            <td>{{s}}</td>
            <td>{{d}}</td>
          </tr>
          {% endfor %}
        </table>
      </div>

      <div class="modal-button">
      <button type="button" class="t-button button-add" data-toggle="modal" data-target="#add-bestellung">Neuer Eintrag</button>
      </div>

      <div class="modal fade" id="add-bestellung" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modal-label">Bestellung hinzufügen</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form method="post">
                <div class="form-item">
                    Bestellungs-ID
                    <input type="number" name="id"></input>
                </div>      
                <div class="form-item">
                    Schüler-ID
                    <input type="number" name="schueler"></input>
                  </div>
                <div class="form-item">
                    Kurs-ID
                    <input type="text" name="kurs"></input>
                  </div>  
                <div class="form-item">
                    Status
                    <input type="text" name="status"></input>
                </div>
                <div class="form-item">
                    Datum
                    <input type="text" name="datum"></input>
                </div>
                <p>
                    <button class="t-button eintragen" type="submit">Eintragen</button>
                </p>
      
            </form>
            </div>
          </div>
        </div>
      </div>

    </main>
{% endblock %}
