<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">

    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light">
        <a class="navbar-brand" href="{{ url_for('index')}}">T-Learn</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/bestellungen">Bestellungen</a>
            </li>
            <li class="nav-item active navactive">
              <a class="nav-link" href="/schueler">Schüler</a>
          </li>
            <li class="nav-item active">
            <a class="nav-link" href="/dozenten">Dozenten</a>
           </li>
           <li class="nav-item active">
            <a class="nav-link" href="/kurse">Kurse</a>
           </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        {% block content %} {% endblock %}
    </div>

    <!-- Content -->
    <div class="main">
      <div class="info">
      <h2>Dozenten</h2>
      <p>Übersicht aller Dozenten die bei T-Learn Kurse anbieten. Schüler sind unter ihrem eigenen Punkt im Menü zu finden.</p>
      <p class="legende"><strong>Vorname</strong><br>Vorname des Dozenten</p>
      <p class="legende"><strong>Schüler:</strong><br>Nachname des Dozenten</p>
      <p class="legende"><strong>ID</strong><br>Einzigartige ID des Dozenten</p>
    </div>


      <div class="tablebox-b">
        <table>
          <tr>
            <th>Vorname</th>
            <th>Nachname</th>
            <th>ID</th>
          </tr>
          {% for v,n,i in dozenten %}
          <tr>
            <td>{{v}}</td>
            <td>{{n}}</td>
            <td class="tableft">{{i}}</td>
          </tr>
          {% endfor %}
        </table>
      </div>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>