{% extends "base.html" %}
{% block content %}
    <main>
      <div class="information">
      <h2>T-Learn Kurse</h2>
      <p>Übersicht aller Kurse die bei T-Learn angeboten werden. Jeder Kurs ist mit der ID des Kurserstellers (anbietenden Dozenten) verbunden.
      </p>
      </div>
      <div>
        <table>
          <tr>
            <th>ID</th>
            <th>Titel</th>
            <th>Dozent</th>
            <th>Kategorie</th>
          </tr>
          {% for i,t,d,k in kurse %}
          <tr>
            <td>{{i}}</td>
            <td>{{t}}</td>
            <td>{{d}}</td>
            <td>{{k}}</td>
          </tr>
          {% endfor %}
        </table>
      </div>

      <div class="modal-button">
      <button type="button" class="t-button button-add" data-toggle="modal" data-target="#add-kurs">Neuer Eintrag</button>
      </div>

      <div class="modal fade" id="add-kurs" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modal-label">Kurs hinzufügen</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form method="post">
                <div class="form-item">
                    Kurs-ID
                    <input type="number" name="id"></input>
                </div>      
                <div class="form-item">
                    Titel
                    <input type="text" name="titel"></input>
                  </div>
                <div class="form-item">
                    Dozent-ID
                    <input type="number" name="dozent"></input>
                  </div>  
                <div class="form-item">
                    Kategorie-ID
                    <input type="number" name="kategorie"></input>
                </div>
                <p>
                    <button class="t-button eintragen" type="submit">Eintragen</button>
                </p>
      
            </form>
            </div>
          </div>
        </div>
      </div>

    </main>
{% endblock %}
