{% extends "base.html" %}
{% block content %}
<h2 class="sp-heading">Login</h2>
<div class="acc">
    <form method="POST" action="/login">
        <div class="form-item">
            <input class="input is-large" type="email" name="email" placeholder="E-Mail" autofocus="">
        </div>
        <div class="form-item">
            <input class="input is-large" type="password" name="passwort" placeholder="Passwort">
        </div>
        <p>Noch kein Account? <a href="/registrieren">Registrieren</a></p>
        <button class="t-button form-submit">Anmelden</button>
    </form>
</div>
{% endblock %}