{% extends "base.html" %}
{% block content %}
<div class="acc">
    <h2 class="sp-heading">Registrieren</h2>
    <form method="POST" action="/registrieren">
        <div class="form-item">
            <input class="input" type="text" name="vorname" placeholder="Vorname" autofocus="">
        </div>
        <div class="form-item">
            <input class="input" type="text" name="nachname" placeholder="Nachname" autofocus="">
        </div>   
        <div class="form-item">
            <input class="input" type="email" name="email" placeholder="E-Mail" autofocus="">
        </div>
        <div class="form-item">
            <input class="input" type="text" name="username" placeholder="Username" autofocus="">
        </div>
        <div class="form-item">
            <input class="input" type="password" name="passwort" placeholder="Passwort">
        </div>
        <button class="t-button form-submit">Registrieren</button>
    </form>
</div>
{% endblock %}